<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/styleh.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="div">
        <div class="frame">
          <div class="text-wrapper">sol-ace.tech</div>
          <div class="text-wrapper-2">version 1.0</div>
        </div>
        <div class="group"><p class="p">embrace every phase. shine through life’s cycles.</p></div>
        <img class="sun" src="../static/images/solacelogo.png" />
        <img class="solace" src="../static/images/solace.png" />
        <button class="log-in-button" onclick="location.href='/login'"><div class="text-wrapper-3">login</div> </button>        
      </div>
    </div>
  </body>
</html>
